VITE_SUPABASE_URL="your supabase url"
VITE_SUPABASE_PUBLISHABLE_KEY="your supabase publishable key"
SUPABASE_SECRET_KEY=y"our supabase secret key"
BUCKET_URL="your supabase bucket url"
VITE_DB_TABLE="your supabase table name"