VITE_SUPABASE_URL="Your Supabase URL"
VITE_SUPABASE_PUBLISHABLE_KEY="Your Supabase publishable key"
SUPABASE_SECRET_KEY="Your Supabase secret key"
BUCKET_URL="Your Supabase bucket URL"
VITE_DB_TABLE="Your Supabase table name"