@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

:root {
  --primary-color: rgb(58, 58, 58);
  --logo-font: 3rem;
  --background: hsl(0, 0%, 96%);
  --accent: #009432;
  --transition-opacity: opacity 0.5s ease-in-out;
}

@theme {
  --color-primary: rgb(58, 58, 58);
  --logo-font: 3rem;
  --color-background: hsl(0, 0%, 96%);
  --color-disabled: #888;
  --color-accent: #009432;
  --color-dark-shade: hsl(220, 2%, 31%);
  --color-title-bg: hsla(213, 29%, 6%, 0.338);
  --color-location-bg: hsla(213, 29%, 6%, 0.235);
  --color-card-text: rgb(240, 232, 232);
  --transition-opacity: opacity 0.5s ease-in-out;
  --font-primary: 'Nunito Sans', sans-serif;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;
  opacity: 0;
  transition: var(--transition-opacity);
}

/**************************
MAIN TITLE
**************************/

.hero-text-container {
  margin-bottom: 4rem;
}

.main-title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

.main-title span {
  font-style: italic;
  color: var(--accent);
}

.loading-main {
  align-items: center;
  margin-top: 4rem;
}

/******************
VIEWS
********************/

h2 {
  font-weight: 300;
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  margin-bottom: 4rem;
}

/********************************
POST VIEW
********************************/

.visible {
  opacity: 1;
}

.post-view {
  border-bottom: 1.5px solid hsl(220, 2%, 31%);
  transition: var(--transition-opacity);
}

.pagination {
  margin: 2rem 0 1rem 0;
}

.pagination p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-color);
}

.post-img-container {
  float: left;
  margin-right: 1rem;
}

.landscape-wrapper {
  width: 100%;
  height: 70vh;
  margin-bottom: 2rem;
}

.portrait-wrapper {
  width: 40%;
}

.landscape {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-text h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.post-text h2 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.markdown {
  color: var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.05rem;
  line-height: 1.7;
  letter-spacing: 0.12px;
  font-weight: 300;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.markdown a {
  color: var(--accent);
  text-decoration: underline;
}

.markdown li::before {
  content: '·';
  font-weight: bolder;
  font-size: 1.3rem;
  margin-right: 10px;
}

.markdown > * {
  margin-top: 1.5rem;
}

.markdown::selection {
  color: var(--background);
  background: var(--accent);
}

em {
  font-weight: bolder;
}

/********************************
EMPTY
********************************/

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
}

.empty-container div:first-child {
  max-width: 15%;
}

.empty-container img {
  width: 100%;
}

.tags-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.pill {
  padding: 0.3rem 1rem;
  outline: 1px solid var(--primary-color);
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.empty-container-text {
  display: grid;
  gap: 10px;
  text-align: center;
  margin-block: 2rem;
}

.empty-container-text p {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 300;
}

.postcard-query {
  font-style: italic;
  color: #b66e4d;
}

/***************************
MEDIA QUERIES
***************************/

@media (max-width: 1092px) {
  .gallery-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 880px) {
  .gallery-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .hero-text-container {
    margin-bottom: 2.5rem;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .post-img-container {
    aspect-ratio: unset;
    height: unset;
    width: 100%;
    margin-bottom: 1rem;
  }

  .landscape-wrapper {
    margin-bottom: unset;
  }

  .post-img-container img {
    height: 100%;
  }

  .pagination {
    margin: 1rem 0;
  }

  .pagination p {
    font-size: 1.3rem;
  }

  .empty-container div:first-child {
    max-width: 50%;
  }

  .empty-container .tags-container {
    justify-content: center;
  }

  .empty-container-text {
    margin-block: 1.5rem;
  }

  .empty-container-text h2 {
    font-size: 1.1rem;
  }

  .empty-container-text p {
    font-size: 1rem;
  }

  .postcard {
    width: 100%;
    min-height: unset;
  }
}
