@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';

:root {
  --logo-font: 3rem;
  --primary: rgb(58, 58, 58);
  /* --background: #fcfcfa; */
  --background: #f7f7f7;
  --accent: #f30c80;
  --dark-shade: hsl(220, 2%, 31%);
  --title-bg: hsla(213, 29%, 6%, 0.338);
  --location-bg: hsla(213, 29%, 6%, 0.235);
  --card-text: rgb(240, 232, 232);
  --transition-opacity: opacity 0.5s ease-in-out;
  --subtitle: 'Cormorant', serif;

  --dark-bg: #0f0d0e;
  /* --dark-primary: #f9f4da; */
  --dark-primary: #abaaa7;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  /* background-color: var(--background); */
}

html {
  scroll-behavior: smooth;
}
