@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --primary-color: rgb(58, 58, 58);
  --logo-font: 3rem;
  --background: hsl(0, 0%, 96%);
  --accent: #009432;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

/**************************
TOGGLE STATES
**************************/
.show {
  visibility: visible;
  /* display: block */
}

.hide {
  visibility: hidden;
}

svg {
  fill: var(--primary-color);
}

body {
  background-color: var(--background);
}

main {
  margin: 0 1rem;
}

header {
  padding: 2rem 0 1rem 0;
  background-color: var(--background);
}

header div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-text-container {
  margin-bottom: 4rem;
}

.main-title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

.main-title span {
  font-style: italic;
  color: var(--accent);
}

nav {
  font-size: var(--logo-font);
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo a,
.control-btn {
  color: var(--primary-color);
  letter-spacing: 5px;
  font-size: var(--logo-font);
}

.logo a {
  font-weight: 600;
}

.control-btn-wrapper a {
  font-size: 2rem;
  border: none;
  background: none;
}

.disabled-link {
  cursor: not-allowed;
}

.disabled-btn {
  pointer-events: none;
  color: #888;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

form {
  height: 80px;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  align-items: center;
}

form svg {
  width: 35px;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 0;
  fill: hsl(220, 2%, 31%);
}

input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  font-size: 2rem;
  font-weight: 300;
  caret-color: hsl(220, 2%, 31%);
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  border-bottom: 1.5px solid hsl(220, 2%, 31%);
  border-bottom-style: groove;
}

input:focus {
  outline: none;
  color: var(--primary-color);
}

input::placeholder {
  color: hsla(210, 3%, 31%, 0.714);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loading-main {
  align-items: center;
  margin-top: 4rem;
}

/******************
VIEWS
********************/

h2 {
  font-weight: 300;
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  margin-bottom: 4rem;
}

.img-container {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  transform: rotate(var(--rotation));
}

.gallery-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container:hover {
  transform: scale(1.02) rotate(0deg);
  z-index: 1;
}

.img-container:hover .img-title {
  opacity: 1;
}

.img-container:hover .img-location {
  opacity: 1;
}

.img-container div {
  position: absolute;
  left: 0;
  right: 0;
  height: 2rem;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in-out;
  opacity: 0;
  color: rgb(240, 232, 232);
}

.img-location {
  top: 0;
  gap: 5px;
  justify-content: flex-end;
  padding-right: 5px;
  background-color: hsla(213, 29%, 6%, 0.235);
  font-size: 0.8rem;
  z-index: 2;
}

.img-location img {
  width: 15px;
}

.img-title {
  bottom: 0;
  padding-left: 5px;
  background-color: hsla(213, 29%, 6%, 0.338);
  font-size: 1.3rem;
  color: rgb(240, 232, 232);
}

/********************************
POST VIEW
********************************/

.post-view {
  border-bottom: 1.5px solid hsl(220, 2%, 31%);
}

.pagination {
  margin: 2rem 0 1rem 0;
}

.pagination p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-color);
}

.post-img-container {
  float: left;
  margin-right: 1rem;
}

.landscape-wrapper {
  width: 100%;
  height: 70vh;
  margin-bottom: 2rem;
}

.portrait-wrapper {
  width: 40%;
}

.landscape {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-text h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.post-text h2 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.markdown {
  color: var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.05rem;
  line-height: 1.7;
  letter-spacing: 0.12px;
  font-weight: 300;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.markdown a {
  color: var(--accent);
  text-decoration: underline;
}

.markdown li::before {
  content: '·';
  font-weight: bolder;
  font-size: 1.3rem;
  margin-right: 10px;
}

.markdown > * {
  margin-top: 1.5rem;
}

.markdown::selection {
  color: var(--background);
  background: var(--accent);
}

em {
  font-weight: bolder;
}

/********************************
EMPTY
********************************/

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
}

.empty-container div:first-child {
  max-width: 15%;
}

.empty-container img {
  width: 100%;
}

.tags-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.pill {
  padding: 0.3rem 1rem;
  outline: 1px solid var(--primary-color);
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.empty-container-text {
  display: grid;
  gap: 10px;
  text-align: center;
  margin-block: 2rem;
}

.empty-container-text p {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 300;
}

.postcard-query {
  font-style: italic;
  color: #b66e4d;
}

/***************************
MEDIA QUERIES
***************************/

@media (max-width: 1092px) {
  .gallery-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 880px) {
  .gallery-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 0 1rem 0;
  }

  .logo a {
    font-size: 2rem;
  }

  .control-btn-wrapper a {
    font-size: 1.5rem;
  }

  .hero-text-container {
    margin-bottom: 2.5rem;
  }

  .main-title {
    font-size: 1.5rem;
  }

  input {
    font-size: 1.1rem;
  }

  form {
    height: 60px;
  }

  form svg {
    width: 20px;
  }

  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-container:hover {
    transform: unset;
  }

  .img-container .img-title {
    opacity: 1;
  }

  .img-container .img-location {
    opacity: 1;
  }

  .img-title {
    font-size: 1rem;
  }

  .post-img-container {
    aspect-ratio: unset;
    height: unset;
    width: 100%;
    margin-bottom: 1rem;
  }

  .landscape-wrapper {
    margin-bottom: unset;
  }

  .post-img-container img {
    height: 100%;
  }

  .pagination {
    margin: 1rem 0;
  }

  .pagination p {
    font-size: 1.3rem;
  }

  .empty-container div:first-child {
    max-width: 50%;
  }

  .empty-container .tags-container {
    justify-content: center;
  }

  .empty-container-text {
    margin-block: 1.5rem;
  }

  .empty-container-text h2 {
    font-size: 1.1rem;
  }

  .empty-container-text p {
    font-size: 1rem;
  }

  .postcard {
    width: 100%;
    min-height: unset;
  }
}
